
:root{
    
    --MAIN-TEXT-color:#323232; /* Color of text by default */
    --MAIN-TITLES-TEXT-color: #5e5e5e; /* Color of titles h2-h3-h4-h5 */
    --MAIN-LINK-color:#2d78b6; /* Color of links */
    --MAIN-LINK-HOVER-color:#7e7e7e; /* Color of hovered links */
    --MAIN-ANCHOR-color: #599a3e; /* color of anchors on titles */

    --MENU-HEADER-BG-color:#000000; /* Background color of menu header */
    --MENU-HEADER-BORDER-color:#7e7e7e; /*Color of menu header border */ 
    
    --MENU-SEARCH-BG-color:#7e7e7e; /* Search field background color (by default borders + icons) */
    --MENU-SEARCH-BOX-color: #AAA9AA; /* Override search field border color */
    --MENU-SEARCH-BOX-ICONS-color: #EBEAEB; /* Override search field icons color */

    --MENU-SECTIONS-ACTIVE-BG-color:#1b211c; /* Background color of the active section and its childs */
    --MENU-SECTIONS-BG-color:#222723; /* Background color of other sections */
    --MENU-SECTIONS-LINK-color: #ccc; /* Color of links in menu */
    --MENU-SECTIONS-LINK-HOVER-color: #e6e6e6;  /* Color of links in menu, when hovered */
    --MENU-SECTION-ACTIVE-CATEGORY-color: #777; /* Color of active category text */
    --MENU-SECTION-ACTIVE-CATEGORY-BG-color: #fff; /* Color of background for the active category (only) */

    --MENU-VISITED-color: #E2E2E2; /* Color of 'page visited' icons in menu */
    --MENU-SECTION-HR-color: #18211c; /* Color of <hr> separator in menu */
    
}

body {
    color: var(--MAIN-TEXT-color) !important;
}

textarea:focus, input[type="email"]:focus, input[type="number"]:focus, input[type="password"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="text"]:focus, input[type="url"]:focus, input[type="color"]:focus, input[type="date"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="month"]:focus, input[type="time"]:focus, input[type="week"]:focus, select[multiple=multiple]:focus {
    border-color: none;
    box-shadow: none;
}

h2, h3, h4, h5 {
    color: var(--MAIN-TITLES-TEXT-color) !important;
}

.hanchor { font-size: 50%; visibility: hidden; color:silver; margin-left: 0.3em;}
h1:hover a, h2:hover a, h3:hover a, h4:hover a { visibility: visible}

.va-bl {
	vertical-align: baseline;	
}

.va-bo {
	vertical-align: text-bottom;	
}
a {
    color: var(--MAIN-LINK-color);
}

.anchor {
    color: var(--MAIN-ANCHOR-color);	
}

a:hover {
    color: var(--MAIN-LINK-HOVER-color);
}

#sidebar ul li.visited > a .read-icon {
	color: var(--MENU-VISITED-color);
}

#body a.highlight:after {
    display: block;
    content: "";
    height: 1px;
    width: 0%;
    -webkit-transition: width 0.5s ease;
    -moz-transition: width 0.5s ease;
    -ms-transition: width 0.5s ease;
    transition: width 0.5s ease;
    background-color: var(--MAIN-LINK-HOVER-color);
}
#sidebar {
	background-color: var(--MENU-SECTIONS-BG-color);
}
#sidebar #header-wrapper {
    background: var(--MENU-HEADER-BG-color);
    color: var(--MENU-SEARCH-BOX-color);
    border-color: var(--MENU-HEADER-BORDER-color);
}
#sidebar .searchbox {
	border-color: var(--MENU-SEARCH-BOX-color);
    background: var(--MENU-SEARCH-BG-color);
}
#sidebar ul.topics > li.parent, #sidebar ul.topics > li.active {
    background: var(--MENU-SECTIONS-ACTIVE-BG-color);
}
#sidebar .searchbox * {
    color: var(--MENU-SEARCH-BOX-ICONS-color);
}

#sidebar a {
    color: var(--MENU-SECTIONS-LINK-color);
}

#sidebar a:hover {
    color: var(--MENU-SECTIONS-LINK-HOVER-color);
}

#sidebar ul li.active > a {
    background: var(--MENU-SECTION-ACTIVE-CATEGORY-BG-color);
    color: var(--MENU-SECTION-ACTIVE-CATEGORY-color) !important;
}

#sidebar hr {
    border-color: var(--MENU-SECTION-HR-color);
}

#post_cards div {
	display: flex; 
	flex-flow: row wrap;
}

#post_cards img {
	margin-top: 10px;
	margin-bottom: 10px;	
}

.article_date {
	font-style: italic;	
}

ul.children {
	list-style-type: none;	
	display: block;	
}

#posts .children {
	list-style-type: none;	
	display: block;	
}

.children-li li {
	font-weight: normal;
	font-style: normal;
	font-size: x-large;		
}

.children-li p {
	font-style: normal;
	font-size: 16px;	
	font-weight: 300;	
}

.children-posts posts {	
	font-style: normal;
	font-size: 20px;
	font-weight: normal;	
}

.children-posts p {
	font-size: 16px;	
	font-weight: 300;	
}

#posts {
	display: block	
}

.post_cards {
	display: flex; 
	flex-flow: row wrap;
}
.post_card {
	width: 100%;
	margin-right: 30px;	
}

.post_header {
	font-weight: normal;
	font-size: 20px;
}
.post_img {
  width: 100%;
  margin-top: 10px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-left: 0px; 
}

.post_text {}

#footer ul.banners {
  margin: 20px 0;
  padding: 0;
}
#footer ul.banners > li {
  list-style: 	none;
  display: 		inline-block;
  margin: 		20px;
}

#footer ul.banners > li.cc {
  display: 		block;
}


#footer ul.banners > li > a {
  display: inline-block;
}
#footer ul.banners > li > a > img {
  height: 100%;
  display: block;
  margin: 	20px;
}
#footer .banners > li > a:hover,
#footer .banners > li > a:focus {
  opacity: 0.8;
}
#footer .banners > li > a:active {
  opacity: 0.7;
}
#footer .banners > li.wot-blitz > a {
  height: 90px;
  vertical-align: top;
}

#footer .banners > li.wg-customer-support > a {
  margin-left: 50px;
  margin-top: 24px;
  height: 50px;
  vertical-align: top;
}
